<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Who is a good programmer? a good software developer, a good web developer">
    <meta name="description" content="open minded, creative, stress resistant, learn fast, flexible, positive mindset">

    <link rel="stylesheet" href="../../styleFiles/helper.css">
    <link rel="stylesheet" href="../../styleFiles/sharedCSS.css">
    <link rel="stylesheet" href="../../styleFiles/footer.css">
    <title>Blogs</title>
</head>

<body>

    <!-- nav bar -->
    <section class="nav">
        <nav class="main-nav">
            <a href="/">HOME</a>
            <a href="#" class="current">BLOGS</a>
        </nav>
    </section>

    <!-- main header -->
    <header class="page-header">
        <h1>Daily blogs about programming</h1>
    </header>
    <main id="main" class="blogs">
        <article>
            <header>
                <h2>Who is a good programmer?</h2>
            </header>
            <section>
                <h4>The qualities of a good programmer</h4>
                <ul>
                    <li>Learn fast</li>
                    <li>Flexible</li>
                    <li>Stress resistant</li>
                    <li>Creative, Positive mindset, think possible</li>
                    <li>Open to new ideas</li>
                    <li>Open to suggestions and critics</li>
                    <li>Learn from mistakes</li>
                </ul>
            </section>
            <section>
                <h4>Let me explain those qualities in details</h4>
                <p>
                    Because the world of programming is changing so fast and almost everyday
                    there come many new technologies, many improvements, better solutions,...
                    a programmer should learn fast, be ok with learning new things and be able to adapt in different
                    situations/circumstances or be flexible.
                </p>
                <p>
                    Being able to handle stress is very important becuase you as a programmer are dealing with
                    many errors, bugs, problems, critics from your boss/supervisor,...
                </p>
                <p>
                    A programmer should be creative to build very user friendly applications, to the point applications
                    and applications that
                    do not confuse users. There are many applications that users can not find there ways in them, can
                    not find what they are
                    looking for, users do not find the application interesting,...
                    A good programmer should think possible, have positive mindset and say YES to most of ideas he/she
                    gets from
                    his/her clients/boss/supervisor.
                </p>

                <p>
                    A good programmer should be ok with critics and suggestions from everyone, be a good listener, react
                    rationally,
                    act smart,...learn from his/her mistakes. It is super important that a programmer learns from
                    his/her mistakes.
                    If a programmer learns from his/her mistakes then he/she will become a great programmer or developer
                    very fast and
                    many companies will need him/her.
                </p>

                <p>

                </p>
            </section>
            <footer>
                <h4>In conclusions</h4>
                <p>It is all about developments, improvements, solutions,...</p>
                <p>
                    It is all becuase of programmers that we have these facilities today. If songs sound interesting and
                    better than the past, it
                    is becuase of programmers. If health sectors are advanced, it is becuase of programmers. All these
                    advanced technologies are becuase of
                    programmers. That is why those qualities up there are very important for every
                    programmer.
                </p>
            </footer>
        </article>
        <!-- more articles -->
        <!-- <section>
            <div>A good programmer</div>
        </section> -->
    </main>
    <!-- footer of the page -->
    <footer class="footer">
        <section class="container-footer">
            <section>
                <p>MAIN</p>
                <a href="/">HOME</a>
                <a href="../portfolio/projects.html">PROJECTS</a>
                <a href="#main">BLOGS</a>
                <a href="../main/about.html">ABOUT</a>
            </section>
            <section>
                <p>
                    CONTACTS
                </p>
                <a href="https://be.linkedin.com/in/sayed-kazimi-0507/" target="_blank">LINKEDIN</a>
                <a href="https://github.com/Sayed94h" target="_blank">GITHUB</a>

            </section>
            <section>
                <p>MORE...</p>
                <a href="../portfolio/projects.html">WEB APPS</a>
                <a href="/#my-apps">ANDROID APPS</a>
                <!-- <a href="./views/main/eula_textEditor.html">EULA Text Editor</a> -->
            </section>

        </section>
        <p class="copyright">
            &copy; SAYED KHALIL KAZIMI | <span id="current-year">2022</span>
        </p>
    </footer>
</body>

</html>