<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="How to convert Hex to Decimal using javascript?">
    <meta name="description" content="Convert hex to decimal with javascript and html page">

    <link rel="stylesheet" href="../../styleFiles/helper.css">
    <link rel="stylesheet" href="../../styleFiles/sharedCSS.css">
    <!-- <link rel="stylesheet" href="../../styleFiles/footer.css"> -->

    <title>Convert Hex to Decimal using JavaScript</title>
</head>

<body>

    <!-- nav bar -->
    <section class="nav main-nav" id="main-nav"></section>

    <!-- main header -->
    <header class="page-header">
        <h3>Source Codes of my YouTube Tutorials</h3>
    </header>
    <main id="main" class="source-codes">
        <article>
            <nav id="tutorial-list"></nav>
            <section class="sc">
                <h3>Useful information</h3>
                <p>Paste the HTML code inside "body element", CSS code inside "style element" or external css file,
                    javascript code inside "script element" or external js file.
                    If you use external files, then you need to link your files to your html file by using link tag
                    for css and "script element" for javascript with the right "href" and "src" values. For this project
                    there is also a demo or live version
                    that you can see and test <a href="/how-to-convert-hex-hexadecimal-to-decimal-integer.html"
                        class="fc-blue">here</a>.
                </p>
                <header class="sc-nav">
                    <div class="html c">HTML</div>
                    <div class="css">CSS</div>
                    <div class="js">JS</div>
                </header>
                <div class="sc-wrapper">
                    <textarea name="html" id="html-view" readonly></textarea>
                    <textarea name="css" id="css-view" readonly hidden></textarea>
                    <textarea name="js" id="js-view" readonly hidden></textarea>
                </div>
            </section>
        </article>
    </main>
    <!-- footer of the page -->
    <footer class="footer" id="main-footer"></footer>

    <script>

        const htmlCode = `
 <section>
    <input type="text" placeholder="Please enter hex number" onchange="convertToDecimal(this.value)">
    <button onclick="convertToDecimal(document.querySelector('input').value)">Submit</button>
    <div>
        <h3>Decimal</h3>
        <div id="result"></div>
    </div>
</section>

            `;
        const htmlView = document.getElementById("html-view");
        htmlView.innerHTML = htmlCode.trim();

        const cssCode = `
/*No CSS*/
    `;

        const cssView = document.getElementById("css-view");
        cssView.innerHTML = cssCode;
        const jsCode = `
function convertToDecimal (hexAsText)
{
    const resultEl = document.getElementById("result");

    let decimalNumber = null;
    if (hexAsText)
    {
	    let base = "0x" + hexAsText;
	    decimalNumber = Number(base);
	    if (!decimalNumber)
        {
            alert("Please enter values between 0 - 9 and A-F");
            return;
        }
    }

    resultEl.textContent = decimalNumber;
}
    `;

        const jsView = document.getElementById("js-view");
        jsView.innerHTML = jsCode;

        const btns = document.querySelector(".sc-nav");
        btns.addEventListener("click", (e) =>
        {
            const t = e.target;
            switch (t.textContent)
            {
                case "HTML":
                    tTps(htmlView, "HTML");
                    break;
                case "CSS":
                    tTps(cssView, "CSS");
                    break;
                case "JS":
                    tTps(jsView, "JS");
                    break;
            }
        });

        // hide all textareas
        function tTps (p, q)
        {
            document.querySelectorAll("textarea").forEach(e =>
            {
                e.setAttribute("hidden", "true");
            });

            p.removeAttribute("hidden");

            const cc = btns.children;
            for (let i = 0; i < cc.length; i++)
            {
                if (cc[i].textContent !== q) {cc[i].classList.remove("c");} else
                {
                    cc[i].classList.add("c");
                }
            }
        } </script>

    <script src="../../apps/genContents.js"></script>
</body>

</html>