<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Who is a good programmer? a good software developer, a good web developer">
    <meta name="description" content="open minded, creative, stress resistant, learn fast, flexible, positive mindset">

    <link rel="stylesheet" href="../../styleFiles/helper.css">
    <link rel="stylesheet" href="../../styleFiles/sharedCSS.css">
    <!-- <link rel="stylesheet" href="../../styleFiles/footer.css"> -->
    <!-- for ads -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3193009251233672"
        crossorigin="anonymous"></script>
    <title>Source Codes</title>
</head>

<body>

    <!-- nav bar -->
    <section class="nav main-nav" id="main-nav"></section>

    <!-- main header -->
    <header class="page-header">
        <h3>Source Codes of my YouTube Tutorials</h3>
    </header>
    <main id="main" class="source-codes">
        <article>
            <nav>
                <a href="./data-visualization-part01.html">Data Visualization Part 1</a> <br> <br>
                <a href="./text-editor-js.html">Text Editor JS</a>
            </nav>
            <section>
                <p>
                    <strong>Useful information</strong> <br> <br>
                    In this page you find the source codes of my YouTube Tutorials.
                    Select the article from the above list and you will see the source codes(html, css and javascript).
                    I hope you find my Tutorials helpful.
                    <br> <br>
                    <em>Use your knowledge for good!</em>
                </p>
            </section>
        </article>
    </main>
    <div class="source-space"></div>
    <!-- footer of the page -->
    <footer class="footer" id="main-footer"></footer>
    <script src="../../apps/genContents.js"></script>
</body>

</html>