<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Who is a good programmer? a good software developer, a good web developer">
    <meta name="description" content="open minded, creative, stress resistant, learn fast, flexible, positive mindset">

    <link rel="stylesheet" href="../../styleFiles/helper.css">
    <link rel="stylesheet" href="../../styleFiles/sharedCSS.css">
    <link rel="stylesheet" href="../../styleFiles/footer.css">
    <!-- for ads -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3193009251233672"
        crossorigin="anonymous"></script>
    <title>Source Codes</title>
</head>

<body>

    <!-- nav bar -->
    <section class="nav">
        <nav class="main-nav">
            <a href="/">HOME</a>
            <a href="#" class="current">Source Codes</a>
        </nav>
    </section>

    <!-- main header -->
    <header class="page-header">
        <h1>Source Codes of my YouTube Tutorials</h1>
    </header>
    <main id="main" class="source-codes">
        <article>
            <nav>
                <a href="./data-visualization-part01.html">Data Visualization Part 1</a>
            </nav>
            <section>
                <p>
                    Dear visitor, <br> <br> In this page you find the source codes of my YouTube Tutorials.
                    Select the article from the above list and you will see the source codes(html, css and javascript).
                    I hope you find my Tutorials helpful.
                    <br> <br>
                    Kind regards, <br> <br>
                    Sayed Khalil Kazimi the founder of aqyanoos.com <br>
                    <br>
                    <em>Use your knowledge for good!</em>
                </p>
            </section>
        </article>
    </main>
    <!-- footer of the page -->
    <footer class="footer">
        <section class="container-footer">
            <section>
                <p>MAIN</p>
                <a href="/">HOME</a>
                <a href="../portfolio/projects.html">PROJECTS</a>
                <a href="#main">Source Codes</a>
                <a href="../main/about.html">ABOUT</a>
            </section>
            <section>
                <p>
                    CONTACTS
                </p>
                <a href="https://be.linkedin.com/in/sayed-kazimi-0507/" target="_blank">LINKEDIN</a>
                <a href="https://github.com/Sayed94h" target="_blank">GITHUB</a>

            </section>
            <section>
                <p>MORE...</p>
                <a href="../portfolio/projects.html">WEB APPS</a>
                <a href="/#my-apps">ANDROID APPS</a>
                <!-- <a href="./views/main/eula_textEditor.html">EULA Text Editor</a> -->
            </section>

        </section>
        <p class="copyright">
            &copy; SAYED KHALIL KAZIMI | <span id="current-year">2022</span>
        </p>
    </footer>
</body>

</html>