<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="How to create text editor using html css and javascript?">
    <meta name="description"
        content="Here I teach you how to create a text or code editor with pure html css and javascript">

    <link rel="stylesheet" href="../../styleFiles/helper.css">
    <link rel="stylesheet" href="../../styleFiles/sharedCSS.css">
    <!-- <link rel="stylesheet" href="../../styleFiles/footer.css"> -->

    <!-- for ads -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3193009251233672"
        crossorigin="anonymous"></script>
    <title>Text / Code Editor JavaScript</title>
</head>

<body>

    <!-- nav bar -->
    <section class="nav main-nav" id="main-nav"></section>

    <!-- main header -->
    <header class="page-header">
        <h3>Source Codes of my YouTube Tutorials</h3>
    </header>
    <main id="main" class="source-codes">
        <article>
            <nav>
                <a href="./data-visualization-part01.html">Data Visualization Part 1</a> <br> <br>
                <a href="./text-editor-js.html" class="b-current">Text Editor JS</a>
            </nav>
            <section class="sc">
                <h3>Useful information</h3>
                <p>Paste the HTML code inside "body element", CSS code inside "style element" or external css file,
                    javascript code inside "script element" or external js file.
                    If you use external files, then you need to link your files to your html file by using link tag
                    for css and "script element" for javascript with the right "href" and "src" values. For this project
                    there is also a demo or live version
                    that you can see and test <a href="/online-text-editor-online-code-editor-online-notepad.html"
                        class="fc-blue">here</a>.
                </p>
                <header class="sc-nav">
                    <div class="html c">HTML</div>
                    <div class="css">CSS</div>
                    <div class="js">JS</div>
                </header>
                <div class="sc-wrapper">
                    <textarea name="html" id="html-view" readonly></textarea>
                    <textarea name="css" id="css-view" readonly hidden></textarea>
                    <textarea name="js" id="js-view" readonly hidden></textarea>
                </div>
            </section>
        </article>
    </main>
    <!-- footer of the page -->
    <footer class="footer" id="main-footer"></footer>

    <script>

        const htmlCode = `
            
<section>
    <header>
        <div class="mrgl-8 bold">Text Editor</div>
        <button id="open" class="mrgl-8">Open</button>
        <button id="save" class="mrgl-8">Save</button>
        <button id="new-file" class="mrgl-8">New File</button>
        <div class="mrgl-8"><a href="/">Home</a></div>
    </header>
    <section>
        <textarea name="content" id="content"></textarea>
    </section>
</section>

            `;
        const htmlView = document.getElementById("html-view");
        htmlView.innerHTML = htmlCode.trim();

        const cssCode = `
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: teal;
    width: 100%;
    overflow: visible;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 60px;
}

header * {
    color: white;
}

button {
    background-color: rgba(0, 0, 0, 0.5);
    outline: none;
    border: none;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
}

textarea {
    width: calc(100% - 10px);
    height: calc(100vh - 73px);
    padding: 5px;
    outline: none;
    border: none;
    resize: none;
    position: absolute;
    top: 73px;
}

.hidden {
    display: none;
}

.mrgl-8 {
    margin-left: 8px;
}

.bold {
    font-weight: bold;
}
    `;

        const cssView = document.getElementById("css-view");
        cssView.innerHTML = cssCode;
        const jsCode = `

const openBtn = document.getElementById('open');
const saveBtn = document.getElementById('save');
const newFileBtn = document.getElementById('new-file');
const content_ = document.getElementById('content');

let fileName = '';

function readFile (e)
{
    const openFileInput = document.getElementById("openFile");

    openFileInput.click();

    openFileInput.addEventListener('change', function (e)
    {
        const file_ = e.target.files[0];

        fileName = file_.name;

        const reader_ = new FileReader();
        // you can use 'load', 'loadend' as the event type
        reader_.addEventListener('loadend', function (event)
        {
            content_.value = event.target.result;
        });

        reader_.readAsText(file_);

    });
}

function saveFile (e)
{
    if (!fileName)
    {
        newFileName();
    }

    const contentOfFile = content_.value;
    const blob_ = new Blob([contentOfFile], {type: 'text/plain'});
    const url_ = URL.createObjectURL(blob_);
    const aEl = document.createElement('a');
    aEl.href = url_;
    aEl.download = fileName;
    aEl.click();
}

function newFileName (e)
{
    fileName = promptResult();
}

function promptResult ()
{
    // Todo: check if the user has provided any extension for the file or not
    let msg = "Please give a name for the new file and also an extension for it: ";
    let userInput = prompt(msg);
    if (userInput)
    {
        return userInput;
    }

    const askAgian = confirm("You have not given any name for the new file. Would you like to give a name and extension?");
    if (askAgian)
    {
        userInput = prompt(msg);
    if (userInput)
    {
        return userInput;
    }
    }
    alert("You have not given any name and extension for your file, so the default name is Aqyanoos and the default extension is .txt");

    return 'Aqyanoos.txt';
}

newFileBtn.onclick = newFileName;

openBtn.addEventListener('click', readFile);

saveBtn.addEventListener('click', saveFile);

    `;

        const jsView = document.getElementById("js-view");
        jsView.innerHTML = jsCode;

        const btns = document.querySelector(".sc-nav");
        btns.addEventListener("click", (e) =>
        {
            const t = e.target;
            switch (t.textContent)
            {
                case "HTML":
                    tTps(htmlView, "HTML");
                    break;
                case "CSS":
                    tTps(cssView, "CSS");
                    break;
                case "JS":
                    tTps(jsView, "JS");
                    break;
            }
        });

        // hide all textareas
        function tTps (p, q)
        {
            document.querySelectorAll("textarea").forEach(e =>
            {
                e.setAttribute("hidden", "true");
            });

            p.removeAttribute("hidden");

            const cc = btns.children;
            for (let i = 0; i < cc.length; i++)
            {
                if (cc[i].textContent !== q) {cc[i].classList.remove("c");} else
                {
                    cc[i].classList.add("c");
                }
            }
        } </script>

    <script src="../../apps/genContents.js"></script>
</body>

</html>