:root {
    --cv_header: #00b0f0;
}

section.note {
    text-align: center;
    background-color: #eee;
    color: red;
    padding: 9px 1px;
    border-bottom: green 1px dotted;
}


/* style for the main part of the web page */

article.main-article {
    margin: 1vw 5vw;
    line-height: 25px;
    display: flex;
    flex-direction: row;
}

section.profile-info {
    width: 40vw;
}

section.experience-studies {
    width: 48vw;
    margin-left: 2vw;
}

section.experience-studies section.first ul li {
    font-weight: bold;
}

section.experience-studies section.first ul li ul li {
    font-weight: normal;
}

section.origin {
    background-color: var(--cv_header);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.left-part h3,
section.experience-studies h3 {
    color: var(--cv_header);
}

section.left-part p,
section.left-part ul {
    width: 96%;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

section.references a {
    text-decoration: none;
}

section.left-part {
    border-right: 2px var(--cv_header) solid;
}


/* for the printing part of the page */

section.print {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

section.print div {
    text-align: center;
    margin: 1vw 5vw;
    padding: 5px 7px;
    color: var(--cv_header);
    border: 1px gray solid;
    border-radius: 4px;
    cursor: pointer;
    width: 55px;
}

@media print {
    header.main-header *,
    section.aside-wrapper *,
    section.note,
    section.print,
    section.EMF-container,
    section.subscribe-wrapper,
    footer, section.nav {
        display: none;
    }

    @page {
        margin: 5px;        
    }

    .page-break {
        page-break-before: always;
        margin-top: 10px;
    }

    article.main-article section.origin {
        -webkit-print-color-adjust: exact;
        /* background-color: var(--cv_header) !important;
        color: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center; */
    }

    article.main-article {
        margin-top: -65px;
        /* line-height: 25px;
        display: flex;
        flex-direction: row; */
    }


}


/* End of printing part */


/* 
		max width 490px
*/

@media only screen and (max-width: 780px) {
    /* style for the main part of the web page */
    article.main-article {
        /* margin: 1vw 5vw;
        line-height: 25px;
        display: flex; */
        flex-direction: column;
    }
    section.profile-info {
        width: 100%;
    }
    section.experience-studies {
        width: 100%;
    }
    section.left-part {
        border: none;
    }
}