footer.footer {
	background: #008080;
	padding: 2vw 4.2vw;
	width: auto;
	color: #fff;
}

footer.footer section.container-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

footer.footer section.container-footer section {
	display: flex;
	flex-direction: column;
}

footer.footer section.container-footer section p {
	border-bottom: 1px green solid;
}

footer.footer section.container-footer section a {
	text-align: left;
	text-decoration: none;
	color: #fff;
	margin-top: 11px;
	font-size: 12px;
}

footer p.copyright {
	text-align: center;
	margin-top: 28px;
}

/* 
		max width 390px
*/