/*
    All rights reserved
    Created by Sayed Khalil Kazimi

*/


/* colors */

:root {
    --white: #fff;
    --black: #000;
    --lblack: #222;
    --gray: #aaa;
    --red: #f00;
    --dred: #a00;
    --lred: #f20;
    --green: #0f0;
    --dgreen: #0a0;
    --lgreen: #3f3;
    --blue: #00f;
    --dblue: #00a;
    --lblue: #04f;
    --yellow: #ff0;
    --dyellow: #aa0;
    --lyellow: #ff5;
    --purple: #f0f;
    --dpurple: #a0a;
    --lpurple: #f5f;
    --turquoise: #0ff;
    --bc: #008080;
    --bc-d: #093f3f;
    --footer-bc: #003333;
    --header-bc: #003333;
    --border-c: #000033;
    --fc: #ffffff;
    --fc-d: #022;
}

/* tools */

.closer {
    border-radius: 50%;
    padding: 5px;
    background: red;
    height: 15px;
    width: 15px;
    text-align: center;
}

#closer-unhider {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 10px;
    z-index: 100;
}

/* for custom alert */
.custom-alert {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.ca-container {
    width: 80vw;
    max-width: 600px;
    height: auto;
    padding: 5px 5px 15px 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 3px teal;
    background: #fff;
    color: #022424;
}

.ca-title {
    font-weight: bold;
}

.ca-description {
    font-size: 15px;
}

.ca-ok {
    float: right;
    padding: 5px 15px;
    background: rgb(1, 125, 249);
    border-radius: 5px;
    box-shadow: 0px 0px 6px 3px skyblue;
    color: #fff;
    cursor: pointer;
}

/* end custom alert */


/*
    menu
*/

.menu-hdr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.menu-100 {
    width: 100px;
    height: 100vh;
}

.menu-130 {
    width: 130px;
    height: 100vh;
}

.menu-white {
    background: var(--white);
}

.menu-dblue {
    background: var(--dblue);
}

.menu-dblue {
    background: var(--dblue);
}


/*
    positioning
*/

.pos-abs {
    position: absolute;
}

.pos-fixed {
    position: fixed;
}

.y-0 {
    top: 0;
    bottom: 0;
}

.x-0 {
    left: 0;
    right: 0;
}

.pos-rel {
    position: relative;
}

.top-100vh {
    top: 100vh;
}

.top-50 {
    top: 50px;
}

.pos-t-20 {
    top: 20px;
}

.pos-l-50p {
    left: 50%;
}

.pos-b-10 {
    bottom: 10px;
}


/*
    display none display
*/

.hidden {
    display: none;
}

.dis-block {
    display: block;
}

.dis-initial {
    display: initial;
}

/*
    UI layout
*/

.d-grid {
    display: grid;
}

.col-2 {
    grid-template-columns: auto auto;
}

.d-flex {
    display: flex;
}

.f-col {
    flex-direction: column;
}

.f-row {
    flex-direction: row;
}

.cont-center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.aln-t {
    align-items: flex-start;
    align-content: flex-start;
}

.aln-b {
    align-items: flex-end;
    align-content: flex-end;
}

.aln-c {
    align-content: center;
    align-items: center;
}

.aln-stch {
    align-content: stretch;
    align-items: stretch;
}

.flex-e {
    justify-content: flex-end;
}

.flex-s {
    justify-content: flex-start;
}

/* z index */

.z-in-20 {
    z-index: 20;
}


/*
    colors
*/
.fc-white {
    color: var(--white);
}

.fc-gray {
    color: var(--gray);
}

.fc-black {
    color: var(--black);
}

.fc-lblack {
    color: var(--lblack);
}

.fc-green {
    color: var(--green);
}

.fc-dgreen {
    color: var(--dgreen);
}

.fc-blue {
    color: var(--blue);
}

.fc-dblue {
    color: var(--dblue);
}

.fc-lblue {
    color: var(--lblue);
}

.fc-red {
    color: var(--red);
}

.fc-dred {
    color: var(--dred);
}

.fc-lred {
    color: var(--lred);
}

.fc-yellow {
    color: var(--yellow);
}

.fc-dyellow {
    color: var(--dyellow);
}

.fc-lyellow {
    color: var(--lyellow);
}

.fc-purple {
    color: var(--purple);
}

.fc-dpurple {
    color: var(--dpurple);
}

.fc-lpurple {
    color: var(--lpurple);
}

.fc-gold {
    color: #ffd700;
}

.fc-d {
    color: var(--fc-d);
}


/*
    background color
*/

.bc-d {
    background: var(--bc-d);
}

.bc-trans-1 {
    background-color: rgba(255, 255, 255, .1);
}

.bc-trans-2 {
    background-color: rgba(255, 255, 255, .2);
}

.bc-trans-3 {
    background-color: rgba(255, 255, 255, .3);
}

.bc-trans-4 {
    background-color: rgba(255, 255, 255, .4);
}

.bc-trans-5 {
    background-color: rgba(255, 255, 255, .5);
}

.bc-trans-6 {
    background-color: rgba(255, 255, 255, .6);
}

.bc-trans-7 {
    background-color: rgba(255, 255, 255, .7);
}

.bc-trans-8 {
    background-color: rgba(255, 255, 255, .8);
}

.bc-trans-9 {
    background-color: rgba(255, 255, 255, .9);
}

.bc-trans-10 {
    background-color: rgba(255, 255, 255, 10);
}

.bc-white {
    background: var(--white);
}

.bc-dwhite {
    background: rgba(241, 225, 225, 0.788);
}

.bc-gray {
    background: var(--gray);
}

.bc-black {
    background: var(--black);
}

.bc-lblack {
    background: var(--lblack);
}

.bc-green {
    background: var(--green);
}

.bc-dgreen {
    background: var(--dgreen);
}

.bc-blue {
    background: var(--blue);
}

.bc-dblue {
    background: var(--dblue);
}

.bc-lblue {
    background: var(--lblue);
}

.bc-red {
    background: var(--red);
}

.bc-dred {
    background: var(--dred);
}

.bc-lred {
    background: var(--lred);
}

.bc-yellow {
    background: var(--yellow);
}

.bc-dyellow {
    background: var(--dyellow);
}

.bc-lyellow {
    background: var(--lyellow);
}

.bc-purple {
    background: var(--purple);
}

.bc-dpurple {
    background: var(--dpurple);
}

.bc-lpurple {
    background: var(--lpurple);
}


/*
    borders - border width
*/

.bdr-top-2 {
    border-top-width: 2px;
}

.bdr-bottom-1 {
    border-bottom-width: 1px;
}

.bdr-bottom-2 {
    border-bottom-width: 2px;
}

.bdr-1 {
    border-width: 1px;
}

.bdr-2 {
    border-width: 2px;
}

.bdr-3 {
    border-width: 3px;
}


/* border color */

.bdr-c-white {
    border-color: var(--white);
}

.bdr-c-black {
    border-color: var(--black);
}

.bdr-c-red {
    border-color: var(--red);
}

.bdr-c-dred {
    border-color: var(--dred);
}

.bdr-c-green {
    border-color: var(--green);
}

.bdr-c-dgreen {
    border-color: var(--dgreen);
}

.bdr-c-blue {
    border-color: var(--blue);
}

.bdr-c-dblue {
    border-color: var(--dblue);
}

.bdr-c-purple {
    border-color: var(--purple);
}

.bdr-c-dpurple {
    border-color: var(--dpurple);
}

.bdr-c-yellow {
    border-color: var(--yellow);
}

.bdr-c-dyellow {
    border-color: var(--dyellow);
}


/* border style */

.bdr-s-solid {
    border-style: solid;
}

.bdr-s-dotted {
    border-style: dotted;
}

.bdr-s-dashed {
    border-style: dashed;
}

.bdr-s-double {
    border-style: double;
}

.bdr-s-hidden {
    border-style: hidden;
}

.bdr-s-groove {
    border-style: groove;
}

.bdr-s-ridge {
    border-style: ridge;
}

.bdr-s-outset {
    border-style: outset;
}

.bdr-s-inset {
    border-style: inset;
}


/* border radius */

.bdr-r-1 {
    border-radius: 5%;
}

.bdr-r-2 {
    border-radius: 10%;
}

.bdr-r-3 {
    border-radius: 15%;
}

.bdr-r-4 {
    border-radius: 20%;
}

.bdr-r-5 {
    border-radius: 25%;
}

.bdr-r-6 {
    border-radius: 30%;
}

.bdr-r-7 {
    border-radius: 35%;
}

.bdr-r-8 {
    border-radius: 40%;
}

.bdr-r-9 {
    border-radius: 45%;
}

.bdr-r-10 {
    border-radius: 50%;
}

.bdr-r-5px {
    border-radius: 5px;
}

.bdr-r-10px {
    border-radius: 10px;
}

.bdr-top-1 {
    border-top: 1px;
}

.bdr-top-2 {
    border-top: 2px;
}


/* cursor */

.pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.cursor-move {
    cursor: move;
}

.cursor-help {
    cursor: help;
}

.cursor-none {
    cursor: none;
}


/*
    font size and font style
*/

.txt-dec-none {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.txt-dec-u {
    text-decoration: underline;
}

.txt-b {
    font-weight: bold;
}

.txt-c {
    text-align: center;
}

.txt-select-none {
    user-select: none;
}

/* font size */

.fs-1 {
    font-size: 1rem;
}

.fs-2 {
    font-size: 1.5rem;
}

.fs-3 {
    font-size: 2rem;
}

.fs-4 {
    font-size: 2.5rem;
}

.fs-5 {
    font-size: 3rem;
}

.fs-6 {
    font-size: 3.5rem;
}

.fs-7 {
    font-size: 4rem;
}

.fs-8 {
    font-size: 4.5rem;
}

.fs-9 {
    font-size: 5rem;
}

.fs-10 {
    font-size: 6rem;
}

.ff-verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*
    margin
*/

.m0 {
    margin: 0;
}

.ms-5 {
    margin-left: 5px;
}

.ms-15 {
    margin-left: 15px;
}

.my-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

/*
    padding
*/

.p0 {
    padding: 0;
}

.p10 {
    padding: 10px;
}

.py-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.px-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}

/*
    width and height
*/

.fullscreen {
    width: 100%;
    height: 100vh;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.vw-10 {
    width: 100vw;
}

.vw-9 {
    width: 90vw;
}

.vw-8 {
    width: 80vw;
}

.vw-7 {
    width: 70vw;
}

.vw-6 {
    width: 60vw;
}

.vw-5 {
    width: 50vw;
}

.vw-4 {
    width: 40vw;
}

.vw-3 {
    width: 30vw;
}

.vw-2 {
    width: 20vw;
}

.vw-1 {
    width: 10vw;
}

.w-11 {
    width: 330px;
}

@media only screen and (max-width: 320px) {
    .w-11 {
        width: 300px;
    }
}

.w-10 {
    width: 100px;
}

.w-9 {
    width: 90px;
}

.w-8 {
    width: 80px;
}

.w-7 {
    width: 70px;
}

.w-6 {
    width: 60px;
}

.w-5 {
    width: 50px;
}

.w-4 {
    width: 40px;
}

.w-3 {
    width: 30px;
}

.w-2 {
    width: 20px;
}

.w-1 {
    width: 10px;
}

/* Height */

.vh-10 {
    height: 100vh;
}

.vh-9 {
    height: 90vh;
}

.vh-8 {
    height: 80vh;
}

.vh-7 {
    height: 70vh;
}

.vh-6 {
    height: 60vh;
}

.vh-5 {
    height: 50vh;
}

.vh-4 {
    height: 40vh;
}

.vh-3 {
    height: 30vh;
}

.vh-2 {
    height: 20vh;
}

.vh-1 {
    height: 10vh;
}

.h-10 {
    height: 100px;
}

.h-9 {
    height: 90px;
}

.h-8 {
    height: 80px;
}

.h-7 {
    height: 70px;
}

.h-6 {
    height: 60px;
}

.h-5 {
    height: 50px;
}

.h-4 {
    height: 40px;
}

.h-3 {
    height: 30px;
}

.h-2 {
    height: 20px;
}

.h-1 {
    height: 10px;
}


/*
    list style types
*/

.list-none {
    list-style-type: none;
}

.list-disc {
    list-style-type: disc;
}

.list-circle {
    list-style-type: circle;
}

.list-square {
    list-style-type: square;
}

.list-uproman {
    list-style-type: upper-roman;
}

.list-lowroman {
    list-style-type: lower-alpha;
}


/*
    overflow
*/

.overflow-h {
    overflow: hidden;
}

.overflow-y-s {
    overflow-y: scroll;
}

.overflow-x-s {
    overflow-x: scroll;
}

.overflow-x-h {
    overflow-x: hidden;
}

.overflow-y-h {
    overflow-y: hidden;
}

table, tr, th, td {
    border-collapse: collapse;
}