
.current {
    background-color: green;
    border-radius: 5px;
    color: #70f8f8;
    padding: 3px;
}

.current:hover {
    color: #ffffff;
}

.sqr-100 {
    width: 100px;
    height: 100px;
}

.sqr-100 img{
    width: 100px;
    height: 100px;
}


nav.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: #033;
    position: fixed; top: 0; left: 0; right: 0;
    height: 50px;
}

nav.main-nav a {
    text-decoration: none;
    margin-left: 20px;
    color: #00eeff;
}

main {
    margin-top: 60px;
}

table, tr, th, td {
    border: 1px solid #033 ;
    border-collapse: collapse;
}

.table-holder {
    width: 100%;
    overflow: scroll;
}

th, td {
    padding: 4px;
}

td {
    vertical-align: top;
}

#my-apps {
    margin: 5px 15px;
    min-width: 500px;
}

#my-apps td.des {
    width: 30%;
}


#my-apps td img {
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
}