<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/app_icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../images/app_icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/app_icons/favicon-16x16.png">
    <link rel="manifest" href="../../site.webmanifest">
    <link rel="icon" type="image/ico" href=".../../favicon.ico">
    <link rel="shortcut icon" type="image/ico" href="../../favicon.ico">
    <link rel="stylesheet" href="../../styleFiles/about.css">
    <link rel="stylesheet" href="../../styleFiles/footer.css">
    <link rel="stylesheet" href="../../styleFiles/sharedCSS.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="Cloud technology, IT, Web development, web hosting solution, business website for free, android application, android developer, mobile applications" />
    <meta name="description"
        content="We provide you the best services in cloud technologies and another information Technologies" />

    <title>About Aqyanoos</title>

    <style>
        main {
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 230px;
        }
    </style>
</head>

<body>
    <!-- nav bar -->
    <section class="nav">
        <nav class="main-nav">
            <a href="/">HOME</a>
            <a href="#about" class="current">ABOUT</a>
        </nav>
    </section>
    <!-- main part of the web page -->
    <main id="about">
        <h1>
            About Aqyanoos.com
        </h1>

        <article>
            <section>
                <p>
                    Aqyanoos.com is planning to create useful, informational, educational and user friendly application
                    and
                    tools.
                </p>
                <p>
                    Aqyanoos.com would like to create applications and tools for everyone!
                </p>
                <p>Everyone, every single individual in each part of the world is important!</p>
                <p>That is why, Aqyanoos.com is planning to create applications and tools for everyone.</p>
                <p>No matter what you do, what your job is, ... you need some automation, tools that make your work and
                    your life easy.</p>
            </section>

            <section>
                <p>
                    If you would like to know more about the founder of Aqyanoos.com click <a
                        href="../portfolio/about.html">here</a>
                </p>
            </section>
        </article>
    </main>

    <!-- footer of the page -->
    <footer class="footer">
        <section class="container-footer">
            <section>
                <p>MAIN</p>
                <a href="/">HOME</a>
                <a href="../portfolio/projects.html">PROJECTS</a>
                <a href="#about">ABOUT</a>
            </section>
            <section>
                <p>
                    CONTACTS
                </p>
                <a href="https://be.linkedin.com/in/sayed-kazimi-0507/" target="_blank">LINKEDIN</a>
                <a href="https://github.com/Sayed94h" target="_blank">GITHUB</a>
                <a href="mailto:ssayed.kazimi@gmail.com" target="_blank">GMAIL</a>

            </section>
            <section>
                <p>MORE...</p>
                <a href="../portfolio/projects.html">WEB APPS</a>
            </section>

        </section>
        <p class="copyright">
            &copy; SAYED KHALIL KAZIMI | 2020 - <span id="current-year">2022</span>
        </p>
    </footer>
</body>

</html>