<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/app_icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../images/app_icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/app_icons/favicon-16x16.png">
    <link rel="manifest" href="../../site.webmanifest">
    <link rel="icon" type="image/ico" href=".../../favicon.ico">
    <link rel="shortcut icon" type="image/ico" href="../../favicon.ico">
    <!-- <link rel="stylesheet" href="../../styleFiles/footer.css"> -->
    <link rel="stylesheet" href="../../styleFiles/helper.css">
    <link rel="stylesheet" href="../../styleFiles/sharedCSS.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="Cloud technology, IT, Web development, web hosting solution, business website for free, android application, android developer, mobile applications" />
    <meta name="description"
        content="We provide you the best services in cloud technologies and another information Technologies" />

    <title>Questions ?</title>
    <!-- for ads -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3193009251233672"
        crossorigin="anonymous"></script>

    <style>
        main {
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 80px;
        }
    </style>
</head>

<body>
    <!-- nav bar -->
    <section class="nav main-nav" id="main-nav"></section>

    <header class="hidden feature-hdr">
        <div>Aqyanoos.com creates useful applications for everyone.</div>
    </header>

    <!-- main part of the web page -->
    <main id="questions">

        <h2>
            Do you have any question?
        </h2>

        <p>
            We love to hear from you. If you have any question please send your question using the below form and we
            contact you or answer your question(s) as soon as we can.
            Thank you!
        </p>

        <div class="questions-form-holder">
            <iframe
                src="https://docs.google.com/forms/d/e/1FAIpQLSfFsq95D2zcepfHVazcV8qPXGtxNT1mk7ll65Dw_iyYGFxIJg/viewform?embedded=true"
                width="1040" height="1212" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
    </main>

    <!-- footer of the page -->
    <footer class="footer" id="main-footer"></footer>
    <script src="../../apps/genContents.js"></script>
</body>

</html>