<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/app_icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../images/app_icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/app_icons/favicon-16x16.png">
    <link rel="manifest" href="../../site.webmanifest">
    <link rel="icon" type="image/ico" href=".../../favicon.ico">
    <link rel="shortcut icon" type="image/ico" href="../../favicon.ico">
    <link rel="stylesheet" href="../../styleFiles/about.css">
    <link rel="stylesheet" href="../../styleFiles/footer.css">
    <link rel="stylesheet" href="../../styleFiles/sharedCSS.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="Sayed, Khalil, Kazimi, Sayed Abdul, Sayed Abdul Khalil, Sayed Khalil, Khalil Kazimi, Sayed Khalil Kazimi, سید خلیل کاظیمی, خلیل کاظیمی, سید عبدالخلیل کاظیمی" />
    <meta name="description" content="personal information" />

    <title>About Sayed Abdul Khalil Kazimi</title>
</head>

<body>
    <!-- nav bar -->
    <section class="nav">
        <nav class="main-nav">
            <a href="/">HOME</a>
            <a href="./projects.html">PROJECTS</a>
            <a href="#print-el" class="current">ABOUT</a>
        </nav>
    </section>
    <!-- main part of the web page -->
    <main>
        <section class="print" id="print-el">
            <div title="Print This Page" id="print-page">Print</div>
        </section>
        <article class="main-article">
            <section class="profile-info">
                <section class="origin">
                    <h2 title="Sayed Abdul Khalil Kazimi">Sayed Kazimi</h2>
                    <h3>Full Stack Developer</h3>
                    <p title="birthday">°05-07-1994, Afghanistan</p>
                </section>
                <section class="left-part">
                    <section class="profile">
                        <h3>PROFILE</h3>
                        <p>
                            First of all welcome to my website. <br>I'm a huge fun of computer
                            and all smart devices in general. I started my journey in the world of computer from Windows
                            XP in 2005. I learned the basics of Windows XP very fast, then I learned Microsoft Office
                            2003 and Adobe Photoshop CS by self-study
                            at home. The image that I had in my mind from computer was different than when I started
                            using computer. I thought that using computer would be very complicated but thanks to
                            Software Engineers, using computer is easier than
                            everyone thinks/imagines(obvious buttons, menus, user friendly UI, helps, guides, ... or in
                            one word 'Abstractions'). After that, I learned computer Hardware, ... Since 2019 I am
                            learning programming and I have finished many
                            website projects successfully. Now I'm a Full Stack Web Developer(I can build a website from
                            its basic UI design to a fully functional frontend and backend including Database System
                            Design). JavaScript, C++, C# and Java are my
                            favorite programming languages. I kindda like Python also ;-). Anyway, my full name is Sayed
                            Abdul Khalil Kazimi. Nice to
                            meet you!
                        </p>
                    </section>

                    <section class="soft-skills">
                        <h3>QUALITIES/SOFT SKILLS</h3>
                        <ul>
                            <li>Love to share my knowledge</li>
                            <li>Love to learn from others</li>
                            <li>Responsible for what I do</li>
                            <li>Believe in HARD+SMART Work</li>
                            <li>Open to new ideas, flexible</li>
                            <li>Active and communicative</li>
                            <li>Team player & Independent</li>
                            <li>Respectful</li>
                            <li>I love troubleshooting & finding solutions</li>
                        </ul>
                    </section>

                    <section class="soft-skills">
                        <h3>HARD SKILLS</h3>
                        <ul>
                            <li>ASP.Net Core Web App</li>
                            <li>Python, Python Flask and Kivy</li>
                            <li>JavaScript/TypeScript</li>
                            <li>Pure HTML5, CSS3, SASS(SCSS)</li>
                            <li>ReactJS, VueJS, AngularJS, Lit</li>
                            <li>SQL, Redux</li>
                            <li>Git, GitHub, GitLab</li>
                            <li>NodeJS, ExpressJS</li>
                            <li>Java and Android App Development</li>
                            <li>C++ Fundamentals</li>
                            <li>MS PowerShell</li>
                            <li>MS Windows Server 2016/2019</li>
                        </ul>
                    </section>

                    <section class="language-skills">
                        <h3>LANGUAGE SKILLS</h3>
                        <ul>
                            <li>Dari(Native + Afg National Language)</li>
                            <li>Pashto(Afg National Language)</li>
                            <li>English</li>
                            <li>Dutch</li>
                            <li>French(Basics)</li>
                        </ul>
                    </section>

                    <section class="references">
                        <h3>REFERENCES</h3>
                        <ul>
                            <li><a href="./projects.html" title="Websites that I have built so far">Portfolio</a></li>
                            <li><a href="https://be.linkedin.com/in/sayed-kazimi-0507/" target="_blank"
                                    title="Visit my LinkedIn Profile">LinkedIn</a></li>
                            <li><a href="https://github.com/Sayed94h" target="_blank"
                                    title="Visit my GitHub Profile">GitHub</a></li>
                        </ul>
                    </section>

                </section>
            </section>
            <section class="hard-skills">
                <section class="contents first">
                    <h3>Work Experience</h3>
                    <ul>
                        <li>Full Stack Developer
                            <br> <span style="font-weight: normal;"><a href="https://www.meet-het.be"
                                    target="_blank">Meet Het</a> - Mariakerke, Belgium <span
                                    style="color: #fff; margin: 0 11px;"></span> Apr 2021 - Now</span>
                            <ul>
                                <li>Adding features to: </li>
                                <ul>
                                    <li>Indoor Viewer of Meet Het</li>
                                    <li>Pano Viewer of Meet Het</li>
                                    <li>Monitoring applications/platforms</li>
                                    <li>Invoicing System</li>
                                </ul>
                                <li>ASP.Net Core MVC</li>
                                <li>Python, Python Flask, ...</li>
                                <li>TypeScript/JavaScript</li>
                                <li>Vue.js, LitElement, HTML, CSS/SCSS, ...</li>
                                <li>Database: SQLite</li>
                                <li>And another web dev tools/Libraries</li>
                            </ul>
                        </li>

                    </ul>
                </section>
                <section class="contents first">
                    <h3>Courses and Trainings:</h3>
                    <ul>
                        <li>
                            Web Development at Hack Your Future Belgium

                            <br />
                            <ul>
                                <li>React.JS, HTML5, CSS3</li>
                                <li>Node.JS, Express.JS, JavaScript</li>
                                <li>Databases (SQL, SQLITE)</li>
                                <li>Object Oriented Programming</li>
                                <li>Separation of Concerns, Model View Controller</li>
                                <li>Git & GitHub</li>
                                <li>Development Strategy, Managing projects and tasks</li>
                                <li>Writing understandable and clean code</li>
                                <li>Learning from other's code</li>
                                <li>Agile Development</li>
                            </ul>
                        </li>
                        <li>
                            System Administration in IT at Cevora/Cefora( Sep 2019 - May 2020)

                            <br />
                            <ul>
                                <li>Microsoft Server 2016/2019</li>
                                <ul>
                                    <li>Active Directory/AD Administrative Center</li>
                                    <li>DNS, DHCP, RDS, RD Web, WSUS, WDS, ...</li>
                                    <li>Group Policy Management</li>
                                </ul>
                                <li>
                                    Cloud technologies:
                                    <ul>
                                        <li>Microsoft Azure</li>
                                        <li>Microsoft Office365</li>
                                    </ul>
                                </li>
                                <li>Virtualization technologies: VMWare ESXI, Hyper-V, VirtualBox</li>
                                <li>Networking: CCNA1 & CCNA2</li>
                                <li>Linux Basics</li>
                                <li>...</li>
                            </ul>
                        </li>
                        <li>
                            Java at Coursera(in the beginning of 2019)
                            <br />
                            <ul>
                                <li>Programming concepts</li>
                                <li>History of programming</li>
                                <li>Variables</li>
                                <li>Conditional statements</li>
                                <li>Loops</li>
                                <li>Functions</li>
                                <li>Classes and Objects</li>
                                <li>...</li>
                                <li>Advanced Java in Practice</li>
                            </ul>
                        </li>
                        <li>
                            C++ at W3schools(since 2020)
                            <br />
                            <ul>
                                <li>Variables, Data types</li>
                                <li>Input and Output</li>
                                <li>Conditional statements</li>
                                <li>Loops</li>
                                <li>Arrays</li>
                                <li>Functions</li>
                                <li>File Handling</li>
                                <li>Object Oriented Programming(Classes)</li>
                                <li>...</li>
                            </ul>
                        </li>
                    </ul>
                </section>
            </section>
        </article>
    </main>

    <!-- footer of the page -->
    <footer class="footer">
        <section class="container-footer">
            <section>
                <p>MAIN</p>
                <a href="/">HOME</a>
                <a href="./projects.html">PROJECTS</a>
                <a href="#print-el">ABOUT</a>
            </section>
            <section>
                <p>
                    CONTACTS
                </p>
                <a href="https://be.linkedin.com/in/sayed-kazimi-0507/" target="_blank">LINKEDIN</a>
                <a href="https://github.com/Sayed94h" target="_blank">GITHUB</a>
                <a href="mailto:ssayed.kazimi@gmail.com" target="_blank">GMAIL</a>

            </section>
            <section>
                <p>MORE...</p>
                <a href="./projects.html">WEB APPS</a>
            </section>

        </section>
        <p class="copyright">
            &copy; SAYED KHALIL KAZIMI | 2020 - <span id="current-year">2022</span>
        </p>
    </footer>
    <script src="../../apps/print.js"></script>
</body>

</html>